# Virtual Environment
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 

# Python Cache Files
__pycache__/
*.pyc
*.pyo

# Database Files
*.sqlite3
*.db

# Log Files
*.log

# Django #
*.log
*.pot
*.pyc
media/

# IDE Files
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Backup Files
*.bak

